# History files
.Rhistory
# Example code in package build process
*-Ex.R
*~
*.Rout
*.tar.gz
*.Rcheck
.Rproj.user
helsinki.Rproj
*.RData
.DS_Store
doc
Meta
/doc/
/Meta/
docs
.Rapp.history
.RData
.Rdata
.Ruserdata
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
helsinki.Rcheck/
helsinki*.tar.gz
helsinki*.tgz
CRAN-SUBMISSION
cran-comments.md
.github/pkg.lock
