export(get_hkk_address_data)
export(get_hsy)
export(get_omakaupunki)
export(get_servicemap)
importFrom(RCurl,getCurlHandle)
importFrom(RCurl,getForm)
importFrom(maptools,readShapePoly)
importFrom(rjson,fromJSON)
importFrom(utils,download.file)
importFrom(utils,unzip)
