export(get_economic_indicators)
export(get_hri_stats)
export(get_hsy)
export(get_omakaupunki)
export(get_population_projection)
export(get_servicemap)
import(maptools)
importFrom(RCurl,getCurlHandle)
importFrom(RCurl,getForm)
importFrom(rjson,fromJSON)
